@font-face {
	font-family: 'Mulish';
	src: url(../fonts/Mulish-VariableFont_wght.ttf) format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Source Code Pro';
	src: url(../fonts/SourceCodePro-VariableFont_wght.ttf);
	font-style: normal;
}

@import './variables';
@import './animations';
@import './mixins';
@import './placeholders';
@import './general';



.hero {
    .hero__container {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

}






.end {
    display: flex;
    align-items: center;
    flex-direction: column;
    .center {
        display: flex;
        justify-content: center;
        flex-direction: column;

        height: 100%;
        
    }
    p {
        color: $txt-gray;
        padding-bottom: $default-padding;
    }
}